$gradientPink: #ff00e5;
$gradientPurple: #7000ff;
$gradient90deg: linear-gradient(90deg, $gradientPink 0%, $gradientPurple 100%);
$gradient180deg: linear-gradient(180deg, $gradientPink 0%, $gradientPurple 100%);