@import "../../styles/mixins.scss";

.story {
  background: #000;
  .topStoryContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    .topStory {
      @include gradientText90deg;
      font-style: bold;
      font-size: 64px;
      line-height: 100%;
      padding-top: 169px;
      text-transform: uppercase;
      display: inline-block;
    }
  }
  .textStory {
    color: #fff;
    font-size: 36px;
    padding: 76px;
    text-align: left;
    font-weight: bold;
  }
}
