@import "../../styles/mixins.scss";

.story {
  position: relative;
  .topStoryContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    .topStory {
      color: #fff;
      font-style: bold;
      font-size: 60px;
      line-height: 100%;
      padding-top: 169px;
      display: inline-block;
    }
  }
  .textStory {
    color: #fff;
    font-size: 24px;
    padding: 76px;
    text-align: left;
    font-weight: bold;
    width: 50%;
  }
  .ship{
    position: absolute;
    top: 310px;
    right: -280px;
    height: 510px;
  }
}
