.header {
  background: #000;
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .link {
    height: 27px;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #ffffff;
    white-space: nowrap;

    
  }
  .button{
      padding: 13px;
      border-radius: 20px;
      text-transform: uppercase;
      background: linear-gradient(90deg, #ff00e5 0%, #7000ff 100%);
      color:#fff;
  }
}
