@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.socialsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  .topSocials {
    color: #fff;
    font-style: bold;
    font-size: 60px;
    line-height: 100%;
    padding-top: 140px;
    display: inline-block;
    margin-bottom: 40px;
  }
}

.pena {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  .textSocials {
    color: #fff;
    text-align: center;
    font-size: 24px;
    margin-bottom: 40px;
  }
  .socialsImg {
    padding-bottom: 30px;
    .icon {
      padding: 0 21.5px;
    }
  }

  .rrocket {
    display: flex;
    align-items: center;
    cursor: pointer;

    .download {
      text-decoration: none;
      font-size: 32px;
      @include gradientText180deg;
      font-weight: 800;
      padding: 60px 0;
    }
    .rocket45 {
      padding-left: 35px;
      .rocketContainer {
        position: relative;
        top: -10px;
        z-index: 1;
        &:after {
          content: "";
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          background: linear-gradient(
            165.28deg,
            #ff00e5 -17.39%,
            #5200ff 128.99%
          );
          opacity: 0.3;
          filter: blur(20px);
          z-index: -1;
          position: absolute;
        }
        .rocketImg {
          position: absolute;
          top: 0;
          left: 0;
          transition: transform 0.5s ease-out;
          visibility: visible;
        }
        .rocketPinkImg {
          width: 46px;
          height: 46px;
          position: absolute;
          top: -6px;
          left: -6px;
          visibility: hidden;
        }
      }
    }
    &:hover {
      .download {
        @include gradientText90deg;
      }
      .rocketImg {
        transform: rotate(45deg);
      }
    }

    &:active {
      .download {
        color: $gradientPurple;
      }
      .rocketImg {
        top: 100px;
      }
      .rocketPinkImg {
        visibility: visible !important;
      }
    }
  }
}
