.benefits {
  background-color: black;
  .benefitsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    .topBenefits {
      color: transparent;
      background: linear-gradient(90deg, #ff00e5 0%, #7000ff 100%);
      background-clip: text;
      font-style: bold;
      font-size: 64px;
      line-height: 100%;
      padding-top: 169px;
      text-transform: uppercase;
      display: inline-block;
    }
  }

  .textBenefits {
    color: #fff;
    font-size: 36px;
    padding: 76px;
    text-align: left;
    font-weight: bold;
    .imgBenefits{
        padding: 33px;
    }
  }
}
