@import "../../styles/mixins.scss";

.benefits {
  background-color: black;
  .benefitsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    .topBenefits {
      @include gradientText90deg;
      font-style: bold;
      font-size: 64px;
      line-height: 100%;
      padding-top: 169px;
      text-transform: uppercase;
      display: inline-block;
    }
  }
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  .card {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .textBenefits {
      color: #fff;
      font-size: 36px;
      text-align: left;
      font-weight: bold;
      padding: 81px;
    }
    .imgBenefits {
      width: 60px;
      height: 60px;
      padding: 40px;
    }
  }
}
