@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";
.page {
  background: black;
  padding-bottom: 25px;
  .headingContainer {
    width: 100%;
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
      content: "";
      position: absolute;
      top: 142px;
      left: 48px;
      width: 328px;
      height: 286px;
      background-image: url("../../../public/images/planet1.png");
    }
    &::before {
      content: "";
      position: absolute;
      top: 228px;
      right: 97px;
      width: 373px;
      height: 249px;
      z-index: 1;
      background-image: url("../../../public/images/planet2.png");
    }
    .heading {
      font-size: 196px;
      @include gradientText180deg;
    }
  }
}
