@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.page {
  padding-bottom: 25px;
  max-width: 1266px;
  width: 100%;
  margin: 140px auto;

  .heading {
    font-weight: 800;
    font-size: 60px;
    line-height: 76px;
    margin-bottom: 40px;
  }

  .questionContainer {
    position: relative;

    .stickyBar {
      top: 20px;
      right: 0;
      margin-left: auto;
      position: -webkit-sticky;
      position: sticky;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: fit-content;
      height: 0;
      font-weight: bold;
      
      .stickyBarLink {
        text-decoration: none;
        margin-bottom: 20px;

        &:hover {
          @include gradientText90deg;
        }
        &:active {
          color: $gradientPurple;
        }
      }
    }

    .questions {
      max-width: 776px;
      width: 100%;
    }
  }
}
